# ;p
*.o
*.vscode
server_exemple
server_exemple_UDP
client_exemple
client_exemple_UDP
build
vgcore.*
.cache
CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt
bin
client_exemple_UDP_TCP
_deps
CPackConfig.cmake
CPackSourceConfig.cmake
submodules
GameServer
RTypeClient
r-type_client
r-type_server
libecs.*
libtransferData.a
*tmp*
*TMP*
_deps/
build/
*dll
*pdb
CMakeSettings*
*exe
.vs
*.sqlite
vcpkg
cloudflare-quiche
fuzz
gost-engine
krb5
oqs-provider
pyca-cryptography
python-ecdsa
tlsfuzzer
tlslite-ng
wycheproof